<launch>

	<node pkg="tf" type="static_transform_publisher" name="dep_cam_front_link_to_base_link" 
		args="0.2 0 0.34 0 0.1305262 0 0.9914449 base_link dep_cam_front_link 100" />
	
	<group ns="dep_cam_front">
		<node pkg="sipeed_tof_ms_a010" type="node" name="sipeed_tof_ms_a010" output="screen">
			<param name="device" value="/dev/depth_camera" />
			<param name="frame_id" value="dep_cam_front_link" />
		</node>
		<!-- <node pkg="sipeed_tof_ms_a010" type="point_cloud_processing_node" name="point_cloud_processing_node">
			<param name="sub_topic" value="sipeed_tof_ms_a010/depth/points" />
			<param name="MeanK" value="20" />
			<param name="StddevMulThresh" value="0.5" />
		</node> -->
		<node pkg="sipeed_tof_ms_a010" type="cliff_detector.py" name="cliff_detector" output="screen">
			<param name="img_topic" value="sipeed_tof_ms_a010/depth/image_raw" />
			<param name="info_topic" value="sipeed_tof_ms_a010/depth/camera_info" />
			<param name="frame_id" value="dep_cam_front_link" />
			<param name="cam_height" value="0.34" />
			<param name="cam_angle" value="15" />
			<param name="cliff_threshold" value="0.5" />
			<param name="img_freq" value="10" />
			<param name="range_min" value="0.2" />
			<param name="range_max" value="2.5" />
			<param name="cam_x" value="0.2" />
			<param name="cam_y" value="0.0" />
			<param name="cam_z" value="0.34" />
			<param name="row_upper" value="60" />
			<param name="col_left" value="20" />
			<param name="col_right" value="80" />
			<param name="skip_row_upper" value="1" />
			<param name="skip_row_bottom" value="1" />
		</node>
	</group>

	<!-- <node name="depthimage_to_laserscan" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan">
		<remap from="image"       to="/dep_cam_front/depth/cliff"/> 
		<remap from="camera_info" to="/dep_cam_front/sipeed_tof_ms_a010/depth/camera_info"/> 
		<remap from="scan" 		  to="/dep_cam_front/scan" />
		<param name="scan_height"     type="int"    value="1"/> 
		<param name="scan_time"       type="double" value="0.033"/> 
		<param name="range_min"       type="double" value="0.2"/> 
		<param name="range_max"       type="double" value="10.0"/> 
		<param name="output_frame_id" type="str"    value="dep_cam_front_link"/> 
	</node> -->

	<!-- <node pkg="tf" type="static_transform_publisher" name="dep_cam_left_link_to_base_link" 
		args="0.17 0.085 0.34 -0.0337827 0.1260786 0.2566048 0.9576622 base_link dep_cam_left_link 100" />

	<node pkg="tf" type="static_transform_publisher" name="dep_cam_right_link_to_base_link" 
		args="0.17 -0.085 0.34 0.0337827 0.1260786 -0.2566048 0.9576622 base_link dep_cam_right_link 100" />

	<group ns="dep_cam_left">
		<node pkg="sipeed_tof_ms_a010" type="node" name="sipeed_tof_ms_a010" output="screen">
			<param name="device" value="/dev/ttyUSB0" />
			<param name="frame_id" value="dep_cam_left_link" />
		</node>
		<node pkg="sipeed_tof_ms_a010" type="point_cloud_processing_node" name="point_cloud_processing_node">
			<param name="sub_topic" value="sipeed_tof_ms_a010/depth/points" />
			<param name="MeanK" value="20" />
			<param name="StddevMulThresh" value="0.5" />
		</node>
	</group>

	<group ns="dep_cam_right">
		<node pkg="sipeed_tof_ms_a010" type="node" name="sipeed_tof_ms_a010" output="screen">
			<param name="device" value="/dev/ttyUSB2" />
			<param name="frame_id" value="dep_cam_right_link" />
		</node>
		<node pkg="sipeed_tof_ms_a010" type="point_cloud_processing_node" name="point_cloud_processing_node">
			<param name="sub_topic" value="sipeed_tof_ms_a010/depth/points" />
			<param name="MeanK" value="20" />
			<param name="StddevMulThresh" value="0.5" />
		</node>
	</group> -->

	

</launch>


